*{
    background-color: #DCCDE8;
    color: #B37BA4;
}

.add-task{
    margin-bottom: 20px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #B37BA4;
}

.add-btn{
    background-color: aliceblue;
    color: black;
}

.list{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
}

input[type="text"]{
    height: 30px;
    margin-right: 15px;
    border: 1px solid #B37BA4;
    outline: none;
    background-color: #DCCDE8;
    font-size: larger;
    width: 500px;
}

input[type="button"]{
    background-color: #14BDEB;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    height: 36px;
    width: 60px;
}

label{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

input[type="checkbox"]{
    transform: scale(2);
    margin-right: 30px;
}

/* input:focus{
    outline: none;
} */