*{
    background-color: #DCCDE8;
    color: #B37BA4;
}

.add-task{
    margin-bottom: 20px;
    text-align: center;
}

h1{
    text-align: center;
    /* color: #00100B; */
    color: #B37BA4;
}

.add-btn{
    background-color: aliceblue;
    color: black;
}

.list{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
}

input[type="text"]{
    height: 20px;
    margin-right: 15px;
    border: 4px darkblue bold;
}

input[type="button"]{
    background-color: #14BDEB;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    height: 25px;
}

label{
    font-size: 30px;
}

input[type="checkbox"]{
    transform: scale(2);
    margin-right: 30px;
}